<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant Apps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Restaurant Apps adalah aplikasi pencarian restaurant terbaik di Indonesia"
    />
    <link rel="apple-touch-icon" href="/images/icons/icon-192x192.png" />
    <link rel="manifest" href="./manifest.json" />
    <link rel="icon" type="image/x-icon" href="./images/logo.png" />
  </head>
  <body>
    <a href="#restaurant-list" class="skip-action">Skip To Content</a>

    <navbar-component></navbar-component>

    <main id="main-wrapper" class="container"></main>

    <footer-component></footer-component>
  </body>
</html>
