@media screen and (max-width: 1280px) {
  .jumbroton-wrapper {
    .image-wrapper {
      height: 350px;
    }
  }

  .card-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
    padding: 0 16px;
  }
}

@media screen and (max-width: 1024px) {
  .jumbroton-wrapper {
    .image-wrapper {
      height: 300px;

      h1 {
        font-size: 20px;
      }
    }
  }

  .card-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .jumbroton-wrapper {
    .image-wrapper {
      height: 300px;

      h1 {
        font-size: 20px;
        width: 90%;
        text-align: center;
        padding: 8px 12px;
        max-width: 80%;
      }
    }
  }

  .card-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 12px;
    padding: 0 12px;
  }
}

@media screen and (max-width: 640px) {
  .jumbroton-wrapper {
    .image-wrapper {
      height: 250px;

      h1 {
        font-size: 18px;
        text-align: center;
        padding: 6px 10px;
        max-width: 85%;
        line-height: 1.4;
      }
    }
  }

  #restaurant-list {
    padding-top: 40px;

    h2 {
      font-size: 20px;
    }
  }

  .card-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 12px;
    padding: 0 12px;
  }

  .card-wrapper {
    img {
      width: 100%;
      height: 120px;
    }

    a {
      font-size: 16px;
      padding: 4px 8px 4px 0px;
    }

    .card-content {
      padding: 4px 8px 8px 8px;
    }

    p {
      font-size: 14px;
    }
  }

  .navigation-content {
    .navbar-action {
      .hamburger-menu {
        display: block !important;
        position: relative;
        z-index: 99;
        border: 1px solid $color-text;
        color: $color-text;
        font-size: 32px;
        border-radius: 4px;
        width: 44px;
        height: 44px;
        aspect-ratio: 1/1;
        cursor: pointer;
      }

      .navbar-item.active {
        display: flex !important;
      }

      .navbar-item {
        display: none !important;
        position: absolute !important;
        top: 0;
        right: 0;
        z-index: 98;
        flex-direction: column;
        justify-content: flex-start !important;
        padding: 60px 12px 0 12px;
        width: 180px;
        height: 100vh;
        gap: 4px;
        background-color: $color-secondary;

        .button {
          width: 100%;
          justify-content: flex-start;
        }
      }
    }
  }
}
